:root {
	/* Colors */
	--red: #FF4500;
	--green: #0f7643;
	--lecture-event: #4682B4;
	--other-event: #1d1d1d;
	--volunt-event: #FFD700;

	/* Light colors */
	/* --light-primary-color: #F5F5F5; */
	/* --light-secondary-color: #D3D3D3; */
	/* --light-tertiary-color: #E0FFFF; */

	/* Dark colors */
	--dark-primary-color: #A9A9A9;
	--dark-secondary-color: #808080;
	--dark-tertiary-color: #696969;
	--dark-quaternary-color: #454547;
	--dark-quinary-color: #1d1d1d;

	--week-border-color: var(--dark-tertiary-color);

	--primary-text-color: #fff;
}