:root {
	/* Colors */
	--red: #FF4500;
	--green: #0f7643;

	--exam-event: #FF4500;
	--holiday-event: #0f7643;
	--lecture-event: #4682B4;
	--other-event: #191970;
	--volunt-event: #c3a602;

	/* Light colors */
	/* --light-primary-color: #F5F5F5; */
	/* --light-secondary-color: #D3D3D3; */
	/* --light-tertiary-color: #E0FFFF; */

	/* Dark colors */
	--dark-primary-color: #A9A9A9;
	--dark-secondary-color: #808080;
	--dark-tertiary-color: #696969;
	--dark-quaternary-color: #454547;
	--dark-quinary-color: #1d1d1d;
	--dark-sextary-color: #0f0f0f;

	--dark-tertiary-color-with-opacity: rgba(105, 105, 105, 0.3);
	
	--primary-text-color: #fff;
	--primary-text-hover-color: #007BFF;
	--secondary-text-hover-color: #0062cb;

	--secondary-text-hover-color-with-opacity: rgba(0, 98, 203, .4);

	--week-grid-border: .5px solid var(--dark-tertiary-color);
}