body,
html {
    margin: 20px;
    background-color: #565656;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
}

a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
    color: inherit;
}

* {
    scrollbar-width: none;
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
}

::-webkit-scrollbar {
    display: none;
}