body,
html {
    margin: 20px;
    /* background-color: var(--primary-color); */
    font-family: Arial, Helvetica, sans-serif;
    color: var(--primary-text-color);
    scroll-behavior: smooth;
    overscroll-behavior: none;
}

html {
    --s: 225px;
    /* control the size*/
    --c1: #1d1d1d;
    --c2: #4e4f51;
    --c3: #3c3c3c;

    background:
        repeating-conic-gradient(from 30deg, #0000 0 120deg, var(--c3) 0 180deg) calc(.5*var(--s)) calc(.5*var(--s)*0.577),
        repeating-conic-gradient(from 30deg, var(--c1) 0 60deg, var(--c2) 0 120deg, var(--c3) 0 180deg);
    background-size: var(--s) calc(var(--s)*0.577);
}

a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
    color: inherit;
}

* {
    scrollbar-width: none;
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
}

::-webkit-scrollbar {
    display: none;
}

@media only screen and (max-width: 1000px) {}

@media only screen and (max-width: 700px) {}

@media only screen and (max-width: 450px) {
    body,
    html {
        margin: 5px;
    }
}