.info-wrap {
    display: flex;
    flex-direction: row;
    color: var(--primary-text-color);
}

.info-wrap>div {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 10px;
}

.info-wrap>*>input {
    height: 20px;
    color: #000;
}

.info-wrap>div>* {
    margin-right: 10px;
}

.info-wrap>div:first-of-type {
    margin-left: 0 !important;
}

.info-wrap>div:last-of-type {
    margin-right: 0 !important;
}

.view-options {
    background-color: var(--dark-primary-color);
    display: flex;
    flex-direction: row;
    width: fit-content;
    border-radius: 10px;
    overflow: hidden;
}

.view-options>div {
    padding: 10px;
    height: 16px;
    width: 16px;
}

.options {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.active-view {
    background-color: var(--dark-tertiary-color);
}

h1 {
    margin: 0;
    color: var(--primary-text-color);
}

.ignore-click {
    pointer-events: none;
}


.date-wrap>button {
    background-color: var(--dark-tertiary-color);
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-radius: 5px;
    color: var(--primary-text-color);
    height: 22px;
}

.date-wrap>button>img {
    width: 12px;
    height: 12px;
}

#date-picker,
#course-input {
    border: none;
    border-radius: 5px;
    background-color: var(--dark-tertiary-color);
    color: var(--primary-text-color);
}

#date-picker {
    color-scheme: dark;
    max-height: 22px;
    padding: 1px 5px;
}

#course-input {
    width: 150px;
    padding: 4.5px;
    background-image:
        linear-gradient(45deg, transparent 50%, gray 50%),
        linear-gradient(135deg, gray 50%, transparent 50%),
        linear-gradient(to right, #ccc, #ccc);
    background-position:
        calc(100% - 14px) center,
        calc(100% - 10px) center,
        calc(100% - 2.5em) center;
    background-size:
        4px 4px,
        4px 4px,
        1px 1.5em;
    background-repeat: no-repeat;
    appearance: none;
    -webkit-appearance: none; /* Add vendor prefix for older browsers */
    -moz-appearance: none; /* Add vendor prefix for older browsers */
}

#course-input:focus {
    outline: none;
}
