.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: var(--dark-quaternary-color);
    border-bottom: var(--week-grid-border);
}

.header-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}

.header-top {
    width: 100%;
    margin-bottom: 10px;
}

.header-top h2 {
    margin: 0;
    font-size: 24px;
    text-align: center;
}

.header-btm {
    display: flex;
    width: 100%;
    color: var(--primary-text-color);
    position: relative;
    height: 24px;
}

.header-left {
    position: absolute;
    left: 0;
}

.header-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.ignore-click {
    pointer-events: none;
}

.today-button {
    background-color: var(--dark-quaternary-color);
    border: .5px solid var(--dark-quinary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-radius: 5px;
    color: var(--primary-text-color);
    height: 23px;
    cursor: pointer;
    transition: color 0.3s;
    transition: 0.2s all ease;
}

.nav-button {
    appearance: none;
    background-color: transparent;
    border: none;
    color: var(--primary-text-color);
    font-size: x-large;
    display: flex;
    align-items: center;
    padding: 0;
    transition: 0.2s all ease;
}

.nav-button:first-of-type {
    margin-right: auto;
}

.nav-button:last-of-type {
    margin-left: auto;
}

.date-wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#date-picker,
#course-input {
    border-radius: 5px;
    background-color: var(--dark-quaternary-color);
    border: .5px solid var(--dark-quinary-color);
    color: var(--primary-text-color);
    transition: 0.2s all ease;
}

#date-picker {
    color-scheme: dark;
    height: 20px;
    max-height: 22px;
    padding: 1px 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    cursor: pointer;
}

#course-input {
    width: 130px;
    padding: 4.5px;
    background-image:
        linear-gradient(45deg, transparent 50%, gray 50%),
        linear-gradient(135deg, gray 50%, transparent 50%),
        linear-gradient(to right, var(--dark-quinary-color), var(--dark-quinary-color));
    background-position:
        calc(100% - 14px) center,
        calc(100% - 10px) center,
        calc(100% - 2.5em) center;
    background-size:
        4px 4px,
        4px 4px,
        1px 1.5em;
    background-repeat: no-repeat;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
}

#course-input:focus {
    outline: none;
}

#course-input option:not(:disabled) {
    color: var(--primary-text-color);
}

.vertical-header-line {
    border-left: .5px solid var(--dark-quinary-color);
    height: 20px;
    margin: 0 5px;
}

@media (hover: hover),
(-ms-high-contrast:none) {

    .nav-button:hover,
    .today-button:hover {
        color: var(--primary-text-hover-color);
    }

    #date-picker:hover {
        color: var(--primary-text-hover-color);
    }

    #course-input:hover {
        color: var(--primary-text-hover-color);
    }
}

@media only screen and (max-width: 1000px) {}

@media only screen and (max-width: 700px) {}

@media only screen and (max-width: 450px) {
    .header-btm {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 50px;
    }

    .header-left {
        position: static;
    }
    
    .header-center {
        position: static;
        transform: unset;
    }

    #date-picker {
        height: unset;
    }
}