.month-view-wrap {
    /* display: flex; */
    display: none;
    flex-direction: column;
}

.month-view-head {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    margin: 10px auto 20px auto;
    width: 100%;
    color: var(--dark-primary-color);
}

.month-view-body {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
}

.month-view-card {
    min-height: 100px;
    height: calc((80vh - 5 * 10px - 10px - 20px - 1.2em - 10px) / 5);
    padding: 5px;
    background-color: var(--dark-primary-color);
    border-radius: 10px;
    overflow: hidden;
}

.month-view-day {
    width: 20px;
    height: 20px;
    padding: 5px;
    background-color: var(--dark-tertiary-color);
    border-radius: 100%;
    position: relative;
    margin: 5px auto auto 5px;
}

.month-view-day>div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-48%, -46%);
}

.month-view-day-info {
    padding: 5px;
    overflow-y: scroll;
    height: calc(100% - 30px);
}

.today {
    background-color: var(--red);
}

.month-view-head-day {
    font-size: 1.2em;
    font-weight: bolder;
    text-align: center;
}

.day-event {
    background-color: var(--dark-tertiary-color);
    border-radius: 5px;
    margin: 5px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;
    font-size: 75%;
}

.day-event-data {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.day-event-name {
    text-overflow: ellipsis;
    overflow: hidden;
    width: 80px;
    height: 1.2em;
    white-space: nowrap;
}

.day-event-type {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    margin-right: 5px;
}

@media only screen and (max-width: 1000px) {}

@media only screen and (max-width: 700px) {}

@media only screen and (max-width: 450px) {}