.month-view-wrap {
    display: flex;
    flex-direction: column;
}

.month-view-head {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(auto-fill);
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    margin: 10px auto 20px auto;
    width: 100%;
    color: var(--dark-primary-color);
}

.month-view-body {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(auto-fill);
    grid-row-gap: 10px;
    grid-column-gap: 10px;
}

.month-view-card {
    min-height: 100px;
    height: calc((80vh - 5 * 10px - 10px - 20px - 1.2em - 10px) / 5);
    padding: 5px;
    background-color: var(--dark-primary-color);
    border-radius: 10px;
}

.month-view-day {
    width: 20px;
    height: 20px;
    padding: 5px;
    background-color: var(--dark-tertiary-color);
    border-radius: 100%;
    position: relative;
}

.month-view-day>div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-48%, -46%);
}

.month-view-day-info {
    padding: 5px;
}

.today {
    background-color: var(--red);
}

.month-view-head-day {
    font-size: 1.2em;
    font-weight: bolder;
    text-align: center;
}

@media only screen and (max-width: 1000px) {}

@media only screen and (max-width: 700px) {}

@media only screen and (max-width: 450px) {}