.week-view-wrap {
    overflow: hidden;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    background: transparent;
    background-color: var(--dark-color-with-opacity);
}

.calendar {
    display: grid;
    position: relative;
    width: 100%;
    min-height: 700px;
    height: 80vh;
    padding: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    overscroll-behavior: none;
    margin-block-start: 0;
    margin-block-end: 0;
}

.calendar-grid {
    grid-template-columns:
        [time] auto [mon] 1fr [tue] 1fr [wed] 1fr [thu] 1fr [fri] 1fr [end-col];
    grid-template-rows:
        [day] auto [h08_00] 1fr [h08_15] 1fr [h08_30] 1fr [h08_45] 1fr [h09_00] 1fr [h09_15] 1fr [h09_30] 1fr [h09_45] 1fr [h10_00] 1fr [h10_15] 1fr [h10_30] 1fr [h10_45] 1fr [h11_00] 1fr [h11_15] 1fr [h11_30] 1fr [h11_45] 1fr [h12_00] 1fr [h12_15] 1fr [h12_30] 1fr [h12_45] 1fr [h13_00] 1fr [h13_15] 1fr [h13_30] 1fr [h13_45] 1fr [h14_00] 1fr [h14_15] 1fr [h14_30] 1fr [h14_45] 1fr [h15_00] 1fr [h15_15] 1fr [h15_30] 1fr [h15_45] 1fr [h16_00] 1fr [h16_15] 1fr [h16_30] 1fr [h16_45] 1fr [h17_00] 1fr [h17_15] 1fr [h17_30] 1fr [h17_45] 1fr [h18_00] 1fr [end-row];
}

.calendar li {
    background-color: var(--dark-primary-color);
    display: inline-block;
    border-right: var(--week-grid-border);
}

li.day,
li.time,
li.corner {
    background-color: var(--dark-quaternary-color);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

.calendar li:not(.day, .corner, .event) {
    height: 25px;
}

.calendar li:not(.day, .corner, .time) {
    background: transparent;
}

li.day.fri {
    border-right: none;
}

.calendar li:not(.day, .corner, .time):nth-child(5n+2) {
    border-right: none;
}

li.time:nth-of-type(4n+1),
li.border-li {
    border-bottom: var(--week-grid-border);
}

li.time.h18_00 {
    border-bottom: none;
}

li.day,
li.corner {
    position: sticky;
    top: 0;
    border-bottom: var(--week-grid-border);
    margin-bottom: -1px;
    z-index: 99999;
    text-align: center;
    padding: 15px 0;
    font-weight: bolder;
}

li.time {
    padding: 0 20px;
    display: flex;
    align-items: center;
}

li.event {
    background-color: #000;
    /* should never be the case, just as default */
    position: absolute;
    height: calc(100% - 20px);
    width: calc(100% - 10px - 20px);
    margin-right: 10px;
    padding: 10px;
    border-radius: 7px;
    font-size: 85%;
    overflow-y: scroll;
}

li.event h3 {
    margin: 0 0 10px;
}

li.event p {
    margin: 0;
}

.mon {
    grid-area: day / mon;
}

.tue {
    grid-area: day / tue;
}

.wed {
    grid-area: day / wed;
}

.thu {
    grid-area: day / thu;
}

.fri {
    grid-area: day / fri;
}

.h08_00 {
    grid-area: h08_00 / time;
}

.h08_15 {
    grid-area: h08_15 / time;
}

.h08_30 {
    grid-area: h08_30 / time;
}

.h08_45 {
    grid-area: h08_45 / time;
}

.h09_00 {
    grid-area: h09_00 / time;
}

.h09_15 {
    grid-area: h09_15 / time;
}

.h09_30 {
    grid-area: h09_30 / time;
}

.h09_45 {
    grid-area: h09_45 / time;
}

.h10_00 {
    grid-area: h10_00 / time;
}

.h10_15 {
    grid-area: h10_15 / time;
}

.h10_30 {
    grid-area: h10_30 / time;
}

.h10_45 {
    grid-area: h10_45 / time;
}

.h11_00 {
    grid-area: h11_00 / time;
}

.h11_15 {
    grid-area: h11_15 / time;
}

.h11_30 {
    grid-area: h11_30 / time;
}

.h11_45 {
    grid-area: h11_45 / time;
}

.h12_00 {
    grid-area: h12_00 / time;
}

.h12_15 {
    grid-area: h12_15 / time;
}

.h12_30 {
    grid-area: h12_30 / time;
}

.h12_45 {
    grid-area: h12_45 / time;
}

.h13_00 {
    grid-area: h13_00 / time;
}

.h13_15 {
    grid-area: h13_15 / time;
}

.h13_30 {
    grid-area: h13_30 / time;
}

.h13_45 {
    grid-area: h13_45 / time;
}

.h14_00 {
    grid-area: h14_00 / time;
}

.h14_15 {
    grid-area: h14_15 / time;
}

.h14_30 {
    grid-area: h14_30 / time;
}

.h14_45 {
    grid-area: h14_45 / time;
}

.h15_00 {
    grid-area: h15_00 / time;
}

.h15_15 {
    grid-area: h15_15 / time;
}

.h15_30 {
    grid-area: h15_30 / time;
}

.h15_45 {
    grid-area: h15_45 / time;
}

.h16_00 {
    grid-area: h16_00 / time;
}

.h16_15 {
    grid-area: h16_15 / time;
}

.h16_30 {
    grid-area: h16_30 / time;
}

.h16_45 {
    grid-area: h16_45 / time;
}

.h17_00 {
    grid-area: h17_00 / time;
}

.h17_15 {
    grid-area: h17_15 / time;
}

.h17_30 {
    grid-area: h17_30 / time;
}

.h17_45 {
    grid-area: h17_45 / time;
}

.h18_00 {
    grid-area: h18_00 / time;
}